{% extends "base.html" %}
{% block script %}
{% endblock %}
{% block content %}
<div data-role="page" id="roompage" >
  <div data-role="header" data-position="fixed" >
    <a href="/colorfire/exitroom" data-role="button" data-ajax="false">退出</a>
    <h1>房间号:{{roomkey}}</h1>
  </div>

  <div data-role="content">
   <div data-role="navbar">
      <ul id="userlist" data-inset="true">
         {% for user in user_list %}
           {% if user.name is defined %}
             <li><a href="#" data-icon="info">{{user.name}}</a></li>
           {% else %}
             <li><a href="#" data-icon="minus">空</a></li>
           {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div data-role="controlgroup" data-type="horizontal" id="usercards">
      <a href="#" data-role="button">用户1</a>
      <a href="#" data-role="button">用户2</a>
    </div>
  </div>

  <div data-role="footer" data-position="fixed" >
    <div class="ui-grid-b">
      <div class="ui-block-a">
        <ul data-role="listview" data-inset="true">
          <li>提示点
            <span class="ui-li-count" id="remindpoint">/8</span>
          </li>
        </ul>
      </div><!--clock-->
      <div class="ui-block-b">
        <ul data-role="listview" data-inset="true">
          <li>闪电点
            <span class="ui-li-count" id="lightpoint">/3</span>
          </li>
        </ul>
      </div><!--block-->
      <div class="ui-block-c">
        <ul data-role="listview" data-inset="true">
          <li>当前玩家
            <span class="ui-li-count" id="currentuser"></span>
          </li>
        </ul>
      </div><!--block-->
    </div><!--grid-->
  </div><!--footer-->
</div>
{% endblock %}
