{% extends "base.html" %}
{% block content %}
<div data-role="page" id="welcomepage">
  <div data-role="header" data-position="fixed">
    <h1>欢迎试玩花火</h1>
  </div>

  <div data-role="content">
    <form method="get" action="/colorfire/createroom">
      <input type="submit" value="创建房间">
    </form>
    <form method="get" action="/colorfire/enterroom">
      <input type="submit" value="进入房间">
    </form>
    <form method="get" action="/colorfire/register">
      <input type="submit" value="用户注册">
    </form>
    <form method="get" action="/colorfire/login">
      <input type="submit" value="用户登录">
    </form>
    <!--<a href="#registerpage" data-role="button" data-rel="dialog">用户注册</a>-->
  </div>

  <div data-role="footer" data-position="fixed" >
    <h1>Copyright 2014 by 湛嘉科技</h1>
  </div>
</div>
{% endblock %}
